<div class="row">

  <div class="col-xs-3">
	  	<div class="panel panel-default" border='none'>

		  <div class='panel panel-body'>
		  <strong>Filters</strong><br><br>
			<form action="demo_form.asp">
			  <input type="checkbox" name="vehicle" value="Bike">Student Loans<br>
			  <input type="checkbox" name="vehicle" value="Car" checked>Business Loans<br>
			  <input type="checkbox" name="vehicle" value="Car" checked>AQ Scores<br>
			  <input type="checkbox" name="vehicle" value="Car" checked>Universities<br>
			  <br>
			  <input type="checkbox" name="vehicle" value="Bike">Latest<br>
			  <input type="checkbox" name="vehicle" value="Bike">Oldest<br>
			  <input type="checkbox" name="vehicle" value="Bike">Descending<br>
			  <input type="checkbox" name="vehicle" value="Bike">Ascending<br>
			<br><button type="submit" class="btn btn-sm btn-primary">Search</button>
			</form>
		  </div>
   	 	</div>
  </div>

  <div class="col-xs-6">
	  	<div class="panel panel-default">
		  <div class="panel-body">
		  <strong></strong>
		  </div>
   	 	</div>
  </div>

  <div class="col-xs-3">
	  	<div class="panel panel-default">
		  <div class="panel-body"><strong>Trending</strong><br><br>
		  <strong>#TopAQScores</strong>
		  	<ul>
		  		<li>985.0</li>
		  		<li>970.0</li>
		  		<li>958.33</li>
		  	</ul>
		  <strong>#TopDegrees</strong>
		  	<ul>
		  		<li>BS - Harvard University</li>
		  		<li>MBA - Cornell University</li>
		  		<li>MD - UNC</li>
		  	</ul>

		  <strong>#LargestInvestments</strong>
		  	<ul>
		  		<li>$1,500,000</li>
		  		<li>$750,000</li>
		  		<li>$550,000</li>
		  	</ul>

		  </div>
   	 	</div>
  </div>

</div>

<div class="row">
  <div class="col-xs-3">
	  	<div class="panel panel-default" border='none'>
		  <div class='panel panel-body'>
		  <strong>How much do you need?</strong><br><br>
		  <form>
			  Amount ($)<br>
			  <input type="text" name="firstname">
			  <br>
			  Student or Business<br>
			  <input type="text" name="lastname">
			  <br>
			  AQ Score<br>
			  <input type="text" name="firstname">
			  <br><br><button type="submit" class="btn btn-sm btn-primary">Check Plans</button>
		  </form>
		  </div>
   	 	</div>
  </div>


</div>

<div class="row">
  <div class="col-xs-3">
	  	<div class="panel panel-default" border='none'>
		  <div class='panel panel-body'>
		  <strong>Discover your AQ Score</strong><br><br>
		  <form>
			  First name:<br>
			  <input type="text" name="firstname" plac>
			  <br>
			  Last name:<br>
			  <input type="text" name="lastname">
			  <br>
			  College:<br>
			  <input type="text" name="firstname">
			  <br>
			  Degree<br>
			  <input type="text" name="lastname">
			  <br><br><button type="submit" class="btn btn-sm btn-primary">Get AQ</button>
		  </form>
		  </div>
   	 	</div>
  </div>